@tailwind base;
@tailwind components;
@tailwind utilities;



/* const bodoni = Bodoni_Moda({
    weight: '400',
    subsets: ['latin'],
    display: 'swap',
  })
   */

@font-face {
    font-family: 'montserrat';
    src: url('/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'bodoni';
    src: url('/Bodoni_Moda/static/BodoniModa_9pt-MediumItalic.ttf') format('truetype');
}

/* variables de colores para usar */
:root{

    --violet-color: #F075AA;
    --violet-color-2: #BC5A94;
    --green-color: #ADD899;
    --yellow-color: #FFDE95;

    --color-primary: #C8E4B2; /* Verde suave */
    --color-secondary: #fbe7f3; /* Rosado suave */
    --color-background: #fdfbf4; /* Beige */
    --color-text: #333333; /* Gris oscuro */
    --color-accent: #FFFFFF; /* Blanco */

    --color-beige:#F7EFE5;
    --color-purple:#8C3061;

}
.h-60vh{
    height: 70vh;
}
.bg-rose{
    background-color: var(--color-secondary);
}

.header {
    position: sticky;
    top: 0;
    z-index: 1000; /* Para asegurarte de que se superpone a otros elementos */
}

.tx-musgo{
    color: #729762;
}

html {
    scroll-behavior: smooth;
    background-color: var(--color-background);
}

*{
    font-family: montserrat;
}

/* titulos */
h1{
    font-size: 74px;
}
h2{
    font-size: 44px;
    text-align: center;
    color: #333333;
}

.center{
    margin: auto;
}

/* background y color text del logo */
.bg-violet-logo{
    background-color: var(--violet-color);
}
.bg-green-logo{
    background-color: var(--green-color);
}
.tx-violet-logo{
    color: var(--violet-color);
}
.tx-sage{
    color: #333333;
}

/* nuevas clases para la pagina */
.bg-beige{
    background-color: var(--color-background);
}

.navbar-button:hover{
    border: thin solid white;
    background-color: #f9deee;
}

.navbar-father > :last-child{
    background-color: #f3e4eb;
}
/* hero image del inicio */
.main{
    height: 94vh;
}

.hero-image{
    height: 94vh;
   width:100%;
   height: 100%;
}
.bg-image-spa{
    background-image: url(../../public/imagen\ spa.jpg);
   background-attachment: fixed;
   background-size: cover;
   background-repeat: no-repeat;
}

.filtro{
    background-color: rgba(0, 13, 2, 0.8);
    width: 100%;
    height: 100%;
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   /* justify-content: space-around; */
   color: white;
}
.filtro-negro{
    background-color: rgba(0, 13, 2, 0.8);
    width: 100%;
    height: 100%;
    z-index: 100;
}
.intro{
    font-size: 22px;
    margin-bottom: 100px;
    letter-spacing: 3px;
    font-family: 'bodoni';
}
.h-80{
    height: 80vh;
}

.eslogan{
    font-size: 20px;
    text-wrap:stable;
}

.secciones{
    background-color: var(--color-background);
}
.secciones > :nth-child(odd){
    background-color: var(--color-beige);
}

/* otras secciones del inicio*/
.secciones > section{
    border-bottom: thin solid rgb(212, 212, 212);
}

.quienes-somos, .servicios, .testimonios, .galeria, .contacto{
    height: 80vh;
}
.testimonios{
    overflow: scroll;
    
}
.contacto{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
    max-width: 80%;
    margin: auto;
}

.height-full{
    height: 90vh;
}

.gradient-background {
    background: linear-gradient(150deg, #fdfbf4 60%, #FFC7EA 140%);
  }
  
.gradient-background3 {
    background: linear-gradient(150deg, #fdfbf4 60%, #FFC7EA 140%);
  }
  

.gradient-background2 {
    background: linear-gradient(180deg, transparent 60%, black 140%);
  }
  
  ::-webkit-scrollbar {
    width: 8px; /* Ajusta el ancho del scrollbar */
  }

  /* Personaliza el track (la "pista" por donde se mueve el thumb) */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color de fondo del track */
    border-radius: 10px; /* Bordes redondeados */
  }

  /* Personaliza el thumb (la "barra" que se mueve) */
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* Color de la barra */
    border-radius: 10px; /* Bordes redondeados */
    border: 2px solid transparent; /* Espacio alrededor de la barra */
  }

  /* Cambia el color del thumb cuando está en hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color más oscuro en hover */
  }