@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'montserrat';
    src: url('../../public/Montserrat/Montserrat-VariableFont_wght.ttf') format('ttf');
}

/* variables de colores para usar */
:root{
    --violet-color: #F075AA;
    --violet-color-2: #BC5A94;
    --green-color: #ADD899;
    --yellow-color: #FFDE95;
}
html {
    scroll-behavior: smooth;
}
*{
    font-family: montserrat;
}
.center{
    margin: auto;
}

.bg-violet-logo{
    background-color: var(--violet-color);
}
.bg-green-logo{
    background-color: var(--green-color);
}
.tx-violet-logo{
    color: var(--violet-color);
}
.tx-green-logo{
    color: var(--green-color);
}
.main{
    height: 100vh;
    background-color: azure;
}
.hero-image{
   background-color: antiquewhite;
   background-image: url(../../public/imagen\ spa.jpg);
   background-attachment: fixed;
   background-size: cover;
   background-repeat: no-repeat;
   width:100%;
   height: 100%;
   
}
.filtro{
    background-color: rgb(29, 29, 29,0.8);
    width: 100%;
    height: 100%;
    display: flex;
   flex-direction: column;
   align-items: center;
   /* align-items: baseline; */
   justify-content: center;
   justify-content: space-around;
   color: white;
}
.navbar-button{
    background-color: #cb66a3;
    border-radius: 20px;
    margin: 10px;
    transition: border 0.2s;

}
.navbar-button:hover{
    border: thin solid white;

}
.navbar-father > :last-child{
    background-color: #9f2c71;
}
h1{
    font-size: 74px;
}
.contenido{
    position: relative;
    /* border: thin solid white; */
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(84, 83, 83,0.6); */
    padding: 20px;

}
.eslogan{
    color: white;
    font-size: 24px;
    text-wrap:stable;
    /* border: thin solid rgb(220, 34, 34); */

}
.primary-button{
    background-color: var(--violet-color-2);
    padding: 10px 30px;
    border: thin solid white;
    color: white;
    border-radius: 20px;
    margin-top: 20px;
}
.primary-button:hover{
    background-color: #8c3c6c;
    transition: background-color 0.3s;

}
.nose{
    background-color: var(--green-color);
}
.nose >:nth-child(odd){
    background-color: var(--violet-color);
}
.servicios, .testimonios, .galeria, .ubicacion, .contacto{
    height: 80vh;

}
h2{
    font-size: 44px;
    text-align: center;
}
.contacto{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
    max-width: 80%;
    /* background-color: #8c3c6c; */
    margin: auto;
}
.ubicacion{
    height: 550px;
    width: 550px;
}

