@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'montserrat';
    src: url('../../public/Montserrat/Montserrat-VariableFont_wght.ttf') format('ttf');
}
@font-face {
    font-family: 'bodoni';
    src: url('../../public/Bodoni_Moda/static/BodoniModa_9pt-MediumItalic.ttf') format('ttf');
}

/* variables de colores para usar */
:root{

    --violet-color: #F075AA;
    --violet-color-2: #BC5A94;
    --green-color: #ADD899;
    --yellow-color: #FFDE95;

    --color-primary: #C8E4B2; /* Verde suave */
    --color-secondary: #FFC7EA; /* Rosado suave */
    --color-background: #fdfbf4; /* Beige */
    --color-text: #333333; /* Gris oscuro */
    --color-accent: #FFFFFF; /* Blanco */

}
.header {
    position: sticky;
    top: 0;
    z-index: 1000; /* Para asegurarte de que se superpone a otros elementos */
}

.tx-musgo{
    color: #729762;
}

html {
    scroll-behavior: smooth;
    background-color: var(--color-background);
}

*{
    font-family: montserrat;
}

/* titulos */
h1{
    font-size: 74px;
}
h2{
    font-size: 44px;
    text-align: center;
}
.center{
    margin: auto;
}

/* background y color text del logo */
.bg-violet-logo{
    background-color: var(--violet-color);
}
.bg-green-logo{
    background-color: var(--green-color);
}
.tx-violet-logo{
    color: var(--violet-color);
}
.tx-green-logo{
    color: var(--green-color);
}

/* nuevas clases para la pagina */
.bg-beige{
    background-color: var(--color-background);
}

.navbar-button:hover{
    border: thin solid white;
    background-color: #f9deee;
}

.navbar-father > :last-child{
    background-color: #f3e4eb;
}
/* hero image del inicio */
.main{
    height: 94vh;
}

.hero-image{
    height: 94vh;
   width:100%;
   height: 100%;
}
.bg-image-spa{
    background-image: url(../../public/imagen\ spa.jpg);
   background-attachment: fixed;
   background-size: cover;
   background-repeat: no-repeat;
}

.filtro{
    background-color: rgba(0, 13, 2, 0.8);
    width: 100%;
    height: 100%;
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   /* justify-content: space-around; */
   color: white;
}
.intro{
    font-size: 22px;
    margin-bottom: 100px;
    letter-spacing: 3px;
    font-family: 'bodoni';
}
.titulo{

}

.eslogan{
    font-size: 20px;
    text-wrap:stable;
}


/* otras secciones del inicio*/
.secciones > section{
    border-bottom: thin solid rgb(108, 106, 106);
}

.quienes-somos, .servicios, .testimonios, .galeria, .contacto{
    height: 80vh;
}
.testimonios{
    overflow: scroll;
    
}
.contacto{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
    max-width: 80%;
    margin: auto;
}

.height-full{
    height: 90vh;
}



